/* BugAnimation.css */

@keyframes bugWalk {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .bug {
    width: 15px;
    height: 50px;
    background-color: #4caf50; /* or any color you prefer */
    position: absolute;
    animation: bugWalk 10s infinite;
  }
  