.comment {
    width: 50%;
    height: 75%;
}
#commentList {
    overflow-y: auto;
    height: 65%;
    border: #000000 solid 1px;
}
#commentList-load {
    overflow-y: auto;
    height: 65%;
    border: #000000 solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Adjust the size of the container as needed */
    height: 50px; /* Adjust the size of the container as needed */
    border-radius: 50%;
    border: #000000 solid 1px;
    background-color: #ffffff; /* Adjust the background color as needed */
}

.newComment {
    resize: none;
}

.user-icon {
    color: #000000; /* Adjust the icon color as needed */
    font-size: 24px; /* Adjust the icon size as needed */
}
.date{font-size: 11px}.comment-text{font-size: 12px}.fs-12{font-size: 12px}.shadow-none{box-shadow: none}.name{color: #007bff}.cursor:hover{color: blue}.cursor{cursor: pointer}.textarea{resize: none}

@media screen and (max-height: 780px) {

    .comment {
        width: 90%;
    }
}