.jumbotron {
    border-top: 65px solid rgb(215, 218, 223);
    background-image: linear-gradient(rgba(0, 0, 0, 0.532), rgba(0, 0, 0, 0.586)), url('../images/code.jpg');
    color: #fff;
    padding-bottom: 60px;
}

h1 span {
    font-size: 70px;
}

.jumbotron h1 {
    font-size: 3em;
    font-weight: 800;
    font-size: 80px;
}

#header-slogan {
    font-size: 2em;
}

h1 span {
    animation: ease-out, colorChange 3s linear;
    animation-fill-mode: forwards;
}

#header-slogan {
    font-size: 50px;
}

.jumbotron p {
    font-size: 1.5em;
}

@media screen and (max-width:480px) {
    .notLoggedIn {
        border-top: 80px solid rgb(215, 218, 223);
    }
}


@media screen and (max-width:640px) {
    #jumbotron-content {
        flex-direction: column;
    }
    h1 span {
        font-size: 40px;
    }
    #header-slogan {
        display: flex;
        flex-direction: column;
        font-size: 35px;
    }
    #bug-img {
        height: 150px !important;
    }
}

@media screen and (max-width:1200px) {
    .jumbotron {
        background-position: center;
    }
}
@media screen and (max-width:310px) {

    .jumbotron {
        border-top: 80px solid rgb(215, 218, 223);
    }
    #nav-brand {
        visibility: hidden;
        position: relative;
    }
    #nav-brand:after {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        content: "Issue Tracker";
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes colorChange {
    0%, 25% {
        color: white;
    }
    75%, 100% {
        color: rgb(197, 21, 21);
    }
}