#body-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.centered-form {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
    width: 40%; /* Adjust the width as needed */
}


@media screen and (max-width: 1000px) {
    .centered-form {
        width: 90%;
    }
}

@media screen and (max-width: 350px) {
    .register-now {
        display: flex;
        flex-direction: column;
    }
}