body {
    background: linear-gradient(to bottom right, rgb(215, 218, 223) 55%, rgb(68, 97, 143));
    height: 100vh;
    margin: 0;
}

.transparent-background {
    background-color: rgba(255, 0, 0, 0.5); /* Red with 50% transparency */
}
  