.w-10 {
    width: 10%;
}
.w-17 {
    width: 17%;
}
.w-47 {
    width: 47%;
}
.w-40 {
    width: 40%;
}

body {
    background: linear-gradient(to bottom right, rgb(215, 218, 223) 55%, rgb(68, 97, 143));
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}
  