.w-10 {
    width: 10%;
}
.w-47 {
    width: 47%;
}

body {
    background: linear-gradient(to bottom right, rgb(215, 218, 223) 55%, rgb(68, 97, 143));
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}
  