.form {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
    width: 50%;
    height: 75%;
}

#btns {
    justify-content: space-around;
}

.open {
    width: 30px;
    height: 30px;
    background-color: rgb(28, 180, 28);
    border-radius: 50%;
}
.closed {
    width: 30px;
    height: 30px;
    background-color: rgb(180, 51, 28);
    border-radius: 50%;
}

@media screen and (max-width: 630px) {
    .form {
        margin-top: 200px;
        width: 90%; /* Adjust the width as needed */
        height: 100%;
    }
    #btns {
        flex-direction: column;
        
    }
    #btns>button {
        width: 100%;
        margin-bottom: 5px;
    }
}

@media screen and (max-height: 780px) {
    .form {
        width: 90%;
    }
    
    #created-info {
        width: 50%;
    }
    #assignment-info {
        width: 50%;
    }
    #info {
        display: flex;
    }
}