.form {
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
    width: 50%;
    min-height: 75%;
}


.btn-edit,
#btn-reassign,
.btn-comments {
    margin-bottom: 3px;
}

.btn-edit {
    background-color: #183fc1 !important;
    color: #fff !important;
}

.btn-edit:hover {
    background-color: #1345e8 !important;
    color: #fff !important;
}

#btn-reassign {
    background-color: #0d44da !important;
    color: #fff !important;
}

#btn-reassign:hover {
    background-color: #0044ff !important;
    color: #fff !important;
}

.btn-comments {
    background-color: #616b8d !important;
    color: #fff !important;
}

.btn-comments:hover {
    background-color: #7380ac !important;
    color: #fff !important;
}

#btns {
    flex-direction: column;
    max-height: 300px;
    /* Set a maximum height for the button container */
}

#info {
    max-height: 350px;
    /* Set a maximum height for the scrollable area */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.info-section {
    background-color: #f4f4f4;
    /* Light Gray Background */
    box-shadow: inset 5px 5px 3px #bdbdbd, inset -5px -5px 3px #bdbdbd;
    /* Light Gray and White Box Shadow */
}

#btns>.btn {
    width: 100%;
    margin-bottom: 3px;
}

@media screen and (max-height: 780px) {

    .form,
    #created-info,
    #assignment-info {
        width: 100%;
    }
    .form {
        width: 90%;
        height: 80%;
        margin-top: 80px;
        margin-bottom: 80px;
    }


    #info {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 630px) {
    .form {
        width: 90%;
        height: 80%;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    #email,
    #member-since {
        font-size: 15px;
    }

    #btns>.btn {
        flex-direction: column;
        width: 100%;
        margin-bottom: 3px;
    }
}